<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    Ejercicio4


<div class="container-fluid">
    <div class="row">
        <div class="col-md bg-danger">
            header
        </div>
    </div>
    <div class="row">
        <div class="col-md bg-info">
            banner
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 bg-primary">
            1
        </div>
        <div class="col-md-3 bg-success">
            2
        </div>
        <div class="col-md-3 bg-warning">
            3
        </div>
        <div class="col-md-3 bg-danger">
            4
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bg-danger">
            5
        </div>
        <div class="col-md-3 bg-warning">
            6
        </div>
        <div class="col-md-3 bg-success">
            7
        </div>
        <div class="col-md-3 bg-primary">
            8
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 bg-success">
            9
        </div>
        <div class="col-md-3 bg-primary">
            10
        </div>
        <div class="col-md-3 bg-danger">
            11
        </div>
        <div class="col-md-3 bg-warning">
            12
        </div>
    </div>
</div>
 
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-danger">
            caja1
        </div>
        <div class="col-md-4 bg-info">
            caja2
        </div>
        <div class="col-md-4 bg-success">
            caja3
        </div>
    </div>
    <div class="row">
        <div class="col-md bg-warning">
            footer
        </div>
    </div>
</div>
</body>
</html>