<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Document</title>
</head>

<body class="bg-secondary">
    <div class="container vh-100">
        <div class="row">
            <div class="col-md-6 p-0">
                <img src="assets/img/índice.jpeg" class="w-100 vh-100" alt="">
            </div>
            <div class="col-md-6 bg-light p-0">
                <div class="row">
                    <div class="col-md d-flex justify-content-center mt-5 mb-5">
                        <img src="assets/img/índice.png" class="" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        <h1>
                            INGRESO CAMPUS
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-evenly">
                        <input type="text" name="usuario" value="" placeholder="Usuario" class="rounded">
                    </div>
                    <div class="col-md-6 d-flex justify-content-evenly">
                        <input type="text" name="clave" value="" placeholder="Clave" class="rounded">
                    </div>

                  
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center mt-3 ms-5 me-5">
                        
                        <input type="button" name="ingreso" value="Ingresar" class="p-2 w-100 btn btn-dark">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md mt-5 d-flex justify-content-center">
                        <p>Si olvidó su clave la puede recuperar <span><a href=""> aquí</a></span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>